<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('#toggle').change(function(e) {
            //Prevents page refresh
            //e.preventDefault()
            name = $(this).attr("name")

            if ($(this).is(':checked')) {
              console.log('Calling function to turn on '+name)
            }
            else{
              console.log('Calling function to turn off '+name)
            }
            
            $.getJSON('/valve_toggle/'+name,
                function(data) {
              console.log(data);
              console.log('Test');
            });
            return false;
          });
        });
</script>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">

    <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../static/canvas-gauges/gauge.min.js"></script>
    <script src='../static/chart.min.js'></script>
    {{ turbo() }}
<title>AeroMavs TestFire</title>
</head>

<body>

    <div class="inner">
        <nav id="nav">
            <div class="nav__container--logo">
                <div class="logo">W</div>
                <h1>AeroMavs</h1>
            </div>

            <ul class="nav-links">
                <li>Dashboard</li>
                <li>Data</li>
                <li>Plots</li>
                <li>Checklist</li>

            </ul>
        </nav>

        <div class="menu">
            <div class="line"></div>
        </div>
        <main>
            <div class="main__col--1">
                <h2>Overview</h2>
            </div>

            <div class="main__col--2">
                <div class="box box--1">
                    <div class="box--logo">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="fluent:people-32-filled"
                              style="color: #ffffff; font-size: 40px"></span>
                    </div>
                    <div class="box--content">
                        <p class="box--title">Oxidizer Tank</p>
                        <p class="box--number">Filling</p>
                    </div>
                </div>

                <div class="box box--2">
                    <div class="box--logo">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="clarity:group-line"
                              style="color: #ffffff; font-size: 40px"></span>
                    </div>
                    <div class="box--content">
                        <p class="box--title">Fuel Tank</p>
                        <p class="box--number">Ready</p>
                    </div>
                </div>

                <div class="box box--3">
                    <div class="box--logo">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="ant-design:cloud-download-outlined"
                              style="color: #ffffff; font-size: 40px"></span>
                    </div>
                    <div class="box--content">
                        <p class="box--title">Actuation Line Pressure</p>
                        <p class="box--number">110 - Optimal</p>
                    </div>
                </div>
            </div>

            <div class="main__col--3">
                <div class="container-2">
                    <div class="row-1">
                        <div class="gauge-column">
                            <canvas data-type="radial-gauge"
                            data-width="200"
                            data-height="200"
                            data-units="PSI"
                            data-title="false"
                            data-value={{press}}
                            data-min-value="0"
                            data-max-value="1000"
                            data-major-ticks="0,100,200,300,400,500,600,700,800,900,1000"
                            data-minor-ticks="2"
                            data-stroke-ticks="false"
                            data-highlights='[
                                { "from": 0, "to": 600, "color": "rgba(0,255,0,.15)" },
                                { "from": 600, "to": 700, "color": "rgba(255,255,0,.15)" },
                                { "from": 700, "to": 1000, "color": "rgba(255,30,0,.25)" }
                            ]'
                            data-color-plate="#222"
                            data-color-major-ticks="#f5f5f5"
                            data-color-minor-ticks="#ddd"
                            data-color-title="#fff"
                            data-color-units="#ccc"
                            data-color-numbers="#eee"
                            data-color-needle-start="rgba(240, 128, 128, 1)"
                            data-color-needle-end="rgba(255, 160, 122, .9)"
                            data-value-box="true"
                            data-animation-rule="bounce"
                            data-animation-duration="500"
                            data-font-value="Led"
                            data-animated-value="true"
                            ></canvas>
                            <p>P1</p>
                        </div>
                        <div class="gauge-column">
                            <canvas data-type="radial-gauge"
                            data-width="200"
                            data-height="200"
                            data-units="PSI"
                            data-title="false"
                            data-value={{press}}
                            data-min-value="0"
                            data-max-value="1000"
                            data-major-ticks="0,100,200,300,400,500,600,700,800,900,1000"
                            data-minor-ticks="2"
                            data-stroke-ticks="false"
                            data-highlights='[
                                { "from": 0, "to": 600, "color": "rgba(0,255,0,.15)" },
                                { "from": 600, "to": 700, "color": "rgba(255,255,0,.15)" },
                                { "from": 700, "to": 1000, "color": "rgba(255,30,0,.25)" }
                            ]'
                            data-color-plate="#222"
                            data-color-major-ticks="#f5f5f5"
                            data-color-minor-ticks="#ddd"
                            data-color-title="#fff"
                            data-color-units="#ccc"
                            data-color-numbers="#eee"
                            data-color-needle-start="rgba(240, 128, 128, 1)"
                            data-color-needle-end="rgba(255, 160, 122, .9)"
                            data-value-box="true"
                            data-animation-rule="bounce"
                            data-animation-duration="500"
                            data-font-value="Led"
                            data-animated-value="true"
                            ></canvas>
                            <p>P2</p>
                        </div>
                    </div>
                </div>
                <div class="pressure--block">
                    <h5>Total</h5>
                    <span>20</span>
                    <h5>Total waste in</h5>
                    <span>564 kg</span>
                    <h5>Total waste out</h5>
                    <span>1205 kg</span>
                </div>
            </div>
            <div class="main__col--4">
                <div class="pressure-plot-container">
                    <canvas id="myChart"></canvas>
        <p id="caption">The chart is displaying a simple line chart.</p>
        <script>
            // Global parameters:
            // do not resize the chart canvas when its container does (keep at 600x400px)
            Chart.responsive = true;

            // define the chart data
            var chartData = {
            labels : [{% for item in labels %}
                        "{{item}}",
                        {% endfor %}],
            datasets : [{
                label: '{{ legend }}',
                fill: true,
                lineTension: 0.1,
                backgroundColor: "rgba(75,192,192,0.4)",
                borderColor: "rgba(75,192,192,1)",
                borderCapStyle: 'butt',
                borderDash: [],
                borderDashOffset: 0.0,
                borderJoinStyle: 'miter',
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                data : [{% for item in values %}
                            {{item}},
                        {% endfor %}],
                spanGaps: false
            }]
            }

            // get chart canvas
            var ctx = document.getElementById("myChart").getContext("2d");

            // create the chart using the chart canvas
            var myChart = new Chart(ctx, {
            type: 'line',
            data: chartData,
            });

        </script>
                </div>
            </div>
        </main>

        <aside>
            <div class="status-container">
                <div class="status-container-up">
                    <p class="system-status">System Status</p>
                </div>
                <div class="status-container-down">
                    <p>Time</p>
                    <span class="status-message">Ready</span>
                </div>
            </div>
            <div class="valve-actuation-container">
                <h3>Valve Actuation</h3>

                <div class="valve-actuation">
                    <div class="logo-grow">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="akar-icons:arrow-up-left"
                              style="color: #ffffff; font-size: 24px"></span>
                    </div>
                    <div class="valve-info">
                        <h6>Valve Toggle</h6>
                        <p>Valve 1</p>
                    </div>
                </div>

                <div class="valve-actuation">
                    <div class="logo-grow">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="akar-icons:arrow-up-left"
                              style="color: #ffffff; font-size: 24px"></span>
                    </div>
                    <div class="valve-info">
                        <h6>Valve toggle</h6>
                        <p>Valve 2</p>
                    </div>
                </div>

                <div class="valve-actuation">
                    <div class="logo-grow">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="akar-icons:arrow-up-left"
                              style="color: #ffffff; font-size: 24px"></span>
                    </div>
                    <div class="valve-info">
                        <h6>Valve Toggle</h6>
                        <p>Valve 3</p>
                    </div>
                </div>

                <div class="valve-actuation">
                    <div class="logo-grow">
                        <span class="iconify"
                              data-inline="false"
                              data-icon="akar-icons:arrow-up-left"
                              style="color: #ffffff; font-size: 24px"></span>
                    </div>
                    <div class="valve-info">
                        <h6>Valve Toggle</h6>
                        <p>Valve 4</p>
                    </div>
                </div>

            </div>
        </aside>
    </div>


</body>
</html>
