<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(function() {
          $('#valve1').change(function(e) {
            //Prevents page refresh
            e.preventDefault()
            console($(this).attr("name"))

            if ($(this).is(':checked')) {
              console.log('Calling function to turn on valve1')
            }
            else{
              console.log('Calling function to turn off valve1')
            }
            
            $.getJSON('/background_process_test',
                function(data) {
              console.log(data);
              console.log('Test');
            });
            return false;
          });
        });
</script>

//button
<div class='container'>
    <h3>Test</h3>
        <form>
            <a href=# id=test><button class='btn btn-default'>Test</button></a>
            <input type="checkbox" id="valve"  name = "valve1" unchecked>
        </form>

</div>
