<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>valメソッドサンプル</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="js\sample_jquery.js"></script>
    </head>
    <body>
        <h1>valメソッドでHTML要素のvalueを取得</h1>
        <p>ボタンのvalueを取得</p>
        <input id="sampleButton" type="button" onclick="alertButton()" value="ボタン">
    </body>
</html>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
